<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html charset=utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="resources/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Transport Timetable</title>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
    <div class="container">
        <a class="navbar-brand" href="/">Transport Timetable</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-element" aria-controls="navbar-element" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-element">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a th:if="${pageName == 'add'}" class="nav-link active" href="/add">Добавить маршрут</a>
                    <a th:if="${pageName != 'add'}" class="nav-link" href="/add">Добавить маршрут</a>
                </li>
                <li class="nav-item">
                    <a th:if="${pageName == 'remove'}" class="nav-link active" href="/remove">Удалить маршрут</a>
                    <a th:if="${pageName != 'remove'}" class="nav-link" href="/remove">Удалить маршрут</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">Расписание</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown">
                        <li><a th:if="${pageName == 'trains'}" class="dropdown-item active" href="/trains">Поезда</a></li>
                        <li><a th:if="${pageName != 'trains'}" class="dropdown-item" href="/trains">Поезда</a></li>

                        <li><a th:if="${pageName == 'airplanes'}" class="dropdown-item active" href="/airplanes">Самолеты</a></li>
                        <li><a th:if="${pageName != 'airplanes'}" class="dropdown-item" href="/airplanes">Самолеты</a></li>

                        <li><a th:if="${pageName == 'ships'}" class="dropdown-item active" href="/ships">Корабли</a></li>
                        <li><a th:if="${pageName != 'ships'}" class="dropdown-item" href="/ships">Корабли</a></li>
                    </ul>
                </li>
            </ul>
            <form method="get" action="/search">
                <input class="form-control" type="text" placeholder="Поиск" aria-label="Search" id="search-input" name="raceName">
            </form>
        </div>
    </div>
</nav>



<div class="container remove-view">
    <div class="row">
        <div th:if="${status == 'success'}" class="alert alert-success" role="alert">
                Успешно удалено!
        </div>
        <div th:if="${status == 'error'}" class="alert alert-danger" role="alert">
                При удалении произошла ошибка!
        </div>
    </div>
    <div class="row">
        <form method="post" action="remove">
            <div class="form-group">
                <label for="transportType">Тип транспорта</label>
                <select class="form-select" aria-label="Default select example" id="transportType" name="transportType">
                    <option value="train">Поезд</option>
                    <option value="airplane">Самолет</option>
                    <option value="ship">Корабль</option>
                </select>
                <select class="form-select" aria-label="Default select example" id="transportElem" name="transportElem">
                </select>
            </div>
            <button type="submit" class="btn btn-dark form-control">Удалить</button>
        </form>
    </div>
</div>
<script th:inline="javascript">
    let transports = [
        /*[# th:each="tableElement, iStat: ${tableData}"]*/
            {"id": /*[[${iStat.index}]]*/,
            "type": /*[[${tableElement.getTypeName()}]]*/,
            "name": /*[[${tableElement.getRaceName()}]]*/,
            "date": /*[[${tableElement.getFormatDate()}]]*/},
        /*[/]*/
    ]

    function changeSelectorContent(transportType) {
        let transportSelector = $('#transportElem');
        transportSelector.text("");
        transports.filter(transport => transport["type"] === transportType).forEach(elem => function (elem) {
            let option = $("<option></option>")
                .attr("value", elem["id"])
                .text(elem["name"] + ", " + elem["date"]);
            transportSelector.append(option);
        }(elem));
    }

    $('#transportType').on('change', function() {
        switch (this.value) {
            case "train":
                changeSelectorContent("Поезд");
                break;
            case "airplane":
                changeSelectorContent("Самолет");
                break;
            case "ship":
                changeSelectorContent("Корабль")
                break;
        }
        if ($('#transportElem option').length === 0) {
            $('form button').prop('disabled', true);
        } else {
            $('form button').prop('disabled', false);
        }
    });

    $('#transportType').change();
</script>



<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    jQuery('#datetimepicker').datetimepicker();
</script>
</body>
</html>